.redcircle {
    height: 200px;
    background-color: rgb(194, 32, 32) ;
    width: 200px;
    border-radius: 100%;
}
.border{
    border: 2px solid ;
    width: 300px;
    display: block;
    margin: 200px auto ;
    padding: 30px 70px 30px 160px;
}
    
    
    
    
    


    
